body {
  background: linear-gradient(to bottom, #bbcfda, #8843ce) repeat fixed;
  height: auto;
  font-family: Poppins, sans-serif;
}

header {
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/fondo.jpg");
  text-align: center;
  color: white; 
  font-size: 24px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

#logo {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  display: block;
  text-align: center;
  text-align: block;
  margin-top: 5px;
}

.info {
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #BCBDD7;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
}

.nav {
  display: inline-block;
  align-items: inline-block;
  text-align: center;
  margin-left: 200px;
}

.nav_2 {
  display: inline-block;
  align-items: inline-block;
  text-align: center;
  margin-right: 200px;
  
}

.youtube-video {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
  height: 900px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

#youtube-text{
  text-align: center;
  margin-top: 200px;
}

.links {
  text-decoration: none;
  color: inherit;
}

