@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Ms Madi", sans-serif;
  --spacing: 35px;
}

/* ESTILOS PAGINA PRINCIPAL */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  animation: fadeIn 1.5s ease-out;
}

.index_header {
  position: relative;
  background-image: url(/assets/backgrounds/compu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body > header > nav {
  color: var(--secondary-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  font-family: var(--primary-font-family);
  font-size: 20px;
}

body > header > nav > ul {
  display: flex;
  gap: var(--spacing);
  margin-left: 50px;
  margin-top: 50px;
}

#inicio {
  font-family: Nixie One, sans-serif;
  margin-right: 100px;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Duracion de la animacion: 1.5s para las imagenes */
img {
    transition: transform 0.3s ease;
}

h1 {
  font-family: var(--secondary-font-family);
  font-size: 150px;
  color: var(--secondary-color);
  margin-left: 100px;
  margin-bottom: 150px;
}

body > header > section > p {
  font-family: var(--primary-font-family);
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: -120px;
}

.header-content {
  position: absolute;
  text-align: center;
}

h2 {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 50px;
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing);
  margin: var(--spacing);
  margin-top: 150px;
  margin-bottom: 150px;
}

.columns .about {
  max-width: 350px;
  padding: var(--spacing);
  border-radius: 12px;
  box-sizing: border-box¡;
  border: var(--secondary-color) 1px solid;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-about {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

body > main > div > section > p {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: var(--spacing);
  text-align: center;
  align-items: center;
  font-family: var(--primary-font-family);
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.social-icon {
  width: 25px;
  height: 25px;
}

/* ESTILOS PAGINA GALERIA */

/* Estilos pagina galeria */
#page_4_body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  gap: var(--spacing);
  padding: var(--spacing);
}

/* Estilos para las imagenes de la galeria */
#page_4_body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.p_page_4 {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* ESTILOS PAGINA REDES SOCIALES */

.p_page_3 {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.rrss-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.social-icon-rrss {
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 200px;
  padding: 100px;
}

.youtube_video {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
  height: 900px;
}

/* Estilos para el formulario de suscripción */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
}

input,
textarea {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  font-family: var(--primary-font-family);
}

button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 20px;
}

/* ESTILOS PAGINA PROYECTOS */

.columns .project {
  max-width: 350px;
  padding: var(--spacing);
  border-radius: 12px;
  box-sizing: border-box¡;
  border: var(--secondary-color) 1px solid;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.h2_project {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

/* ESTILOS PAGINA "SOBRE MÍ" */

.about_page_1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing);
}

.p_page_1 {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 20px;
  text-align: justify;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
  max-width: 2000px;
}

.about_text_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

.rocket_logo {
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  margin-left: 100px;
}

/* Media para algunos elementos se vea bien en dispositivos moviles */
@media (max-width: 1100px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
  .columns .about {
    max-width: 90%;
    max-width: 400px;
    margin-bottom: 30px;
  }
  .rrss-content {
    flex-direction: column;
    gap: 30px;
  }
  .social-icon-rrss {
    width: 120px;
    height: 120px;
    padding: 0;
  }
  .about_page_1 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .rocket_logo {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 250px;
    height: 250px;
  }
  .p_page_1 {
    margin-left: 0;
    margin-right: 0;
    max-width: 95vw;
    text-align: justify;
  }
}

/* ANIMACIONES Y EFECTOS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img:hover {
  transform: scale(1.05);
}
